[user]
	name = taishi-n
	email = taishi.m.and.p@gmail.com

[core]
	excludesfile = /Users/taishi/.gitignore_global
   pager = delta
	quotepath = false
	editor = nvim -c \"set fenc=utf-8\"

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[interactive]
   diffFilter = delta --color-only
[init]
	defaultBranch = main
[gpg]
	program = gpg
[credential]
	helper = osxkeychain
[commit]
	gpgsign = true
[delta]
   line-numbers = true
   plus-style = syntax "#c9ffc9"
   minus-style = normal "#ffc9c9"
   side-by-side = true
   syntax-theme = "GitHub"
